a:visited
{
	color: #FFF;
  text-align: left;
}

body 
{
	background-color: #2C2F33;
}

#menuHaut
{
  background-color: #7289DA;
  font-family: "Calibri";
  text-decoration: none;
  transition: opacity 0.5s; 
  color: #FFF;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
}

#menuHaut ul { 
  margin: 0;
  text-align: right;
}

#menuHaut:hover {
  opacity: 1;
}

#menuHaut ul li div a {
  text-decoration: inherit;
  color: #FFF; 
}

#menuHaut ul li
{
  display: inline-block;
  padding: 20px 20px 20px 20px;
  list-style-type: none; 
  transition: background-color 0.5s;
}

#menuHaut ul li:hover
{
  background-color: #BBBBBB;
} 

