<head>
    <title>HOME - ENIGME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "{{ url_for('static' ,filename='style.css') }}">
    <link rel="shortcut icon" href="">
    <meta charset="UTF-8">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="https://i-love.lepeli.fr/2H18p6.png" width="30" height="30" class="d-inline-block align-top" alt="">
            EniGUIma
          </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Accueil</a>
        </div>
      </nav>
    <div class="article-acc">
        <p>Bienvenue sur le site EniGUIma afin de poursuivre votre navigation veuillez choisir une catégorie</p>
        <div class="row no-gutters">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Portail participants</h3>
                  <p class="card-text">Accéder au tableau de bord de son équipe</p>
                  <form action="/login" method="POST">
                  <div class="input-group">
                        <input type="password" class="form-control" placeholder="Mot de passe">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                </div>   
              </form>
                </div>             
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Portail Publique</h3>
                  <p class="card-text">Accéder au contenu publique</p>
                  <a href="/public" class="btn btn-primary">Go!</a>

                </div>
              </div>
            </div>
            <div class="col-sm-4">
                    <div class="card">
                      <div class="card-block">
                        <h3 class="card-title">Portail Staff</h3>
                        <p class="card-text">Accéder au panel de gestion EniGUIma</p>
                        <form action="/login" method="POST">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Mot de passe" name="password">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Go!</button>
                            </span>
                        </div>
                       </form>
                      </div>
                    </div>
      
                  </div>
          </div>
    </div>
</body>
