<head>
    <title>PUBLIC - ENIGME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href= "{{ url_for('static' ,filename='style.css') }}">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="https://i-love.lepeli.fr/2H18p6.png" width="30" height="30" class="d-inline-block align-top" alt="">
            EniGUIma
          </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Accueil</a>
            </li>
        </div>
      </nav>

</body>

<div class="article-acc">
    <div class="row no-gutters">
        <div class="col-sm-6">
            <h3>Avancement des équipes</h1>
            <p>Équipe 1:</p>
            <p>Chrono : 10 : 10</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">1/4</div>
            </div>
            <p>Équipe 2:</p>
            <p>Chrono : 5:10 <i class="fin">FINI</i></p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/4</div>
            </div> 
        </div>
        <div class="col-sm-6">
            <h2>Participants</h1>
            <div class="row no-gutters">
                <div class="col-sm-6">
                    Équipe 1
                <ul>
                    <li>Jul</li>   
                    <li>Jul</li>
                    <li>Jul</li>
                    <li>Jul</li>
                    <li>Jul</li>
                </ul>
                </div>
                <div class="col-sm-6">
                        Équipe 2
                    <ul>
                        <li>Tchikita</li>   
                        <li>Tchikita</li> 
                        <li>Tchikita</li> 
                        <li>Tchikita</li> 
                        <li>Tchikita</li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

