<head>
        <title>EQUIPE - ENIGME</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href= "{{ url_for('static' ,filename='style.css') }}">
</head>

<body>

    <div class="article-acc" >
        <div class="row no-gutters">
            <div class="col-sm-6">
                <h3>Énigme en cours</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt mi in tincidunt maximus. Etiam id felis vel lorem mollis eleifend. Vivamus sit amet lacus dolor. Integer vehicula blandit bibendum. In lobortis sagittis rhoncus. Quisque ac congue diam, eget ornare eros. Phasellus ultrices ultricies purus, sit amet pellentesque tortor convallis a. Integer ante enim, feugiat id turpis id, efficitur vehicula sem. Sed eu luctus tortor, id pulvinar tellus. Sed ex purus, egestas non urna vel, volutpat laoreet orci. Cras dui libero, mollis sit amet congue id, accumsan rhoncus risus. Morbi ut urna ac mi aliquam vulputate. Nullam quam arcu, porta eu tempus et, ultricies vel urna. Quisque vulputate sit amet eros sagittis accumsan. Curabitur at varius lorem, non pharetra ex.</p>
            </div>
            <div class="col-sm-6">
                <h3>Statistiques</h3>
                <p>Progression:</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1/4</div>
                </div>
                <p>Indices restant: 3/5</p>
            </div>
        </div>
    </div>
    <div class="article-acc">
        <h3>Énigmes résolues</h3>
    </div>
</body>